/* CSS Document */

/* forces on IE */
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
	.ng_il .photo_slider .il_content .sliderSlide rzslider.photoslider span.pointer::after {
		color: black;
	}
}

.ng_il .photo_slider .il_viewport {
	height: 430px !important;
}


.ng_il .photo_slider .il_content .sliderSlide .over,
.ng_il .photo_slider .il_content .sliderSlide .under {
	height: 400px !important;
}

.ng_il .photo_slider .il_content .sliderSlide .il_text {
	background: rgba(0, 0, 0, 1) !important;
	bottom: 0;
	position: absolute;
}

.ng_il .ng-scope>br {
	display: none !important;
}

.fev_photo_slider .il_text {
	width: 600px !important;
}