<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="utf-8">
    <title>TMP: Page 3</title>
    <script type="text/javascript">
        var pg_csslibs = []; // CSS Libs for this Page
        var pg_jslibs = []; // JS Libs for this Page
    </script>
    <script src="../../global/js/settings.js" id="settingJS" type="text/javascript"></script>
</head>

<body>
<div id="pageContent">
    <!-- CONTENT GOES HERE -->
    <h1>Media</h1>
    <img src="../../global/images/samples/Jellyfish.jpg" class="pull-left top-flush" data-width="200px">
    <p>This is an example with <code>pull-left</code> and <code>top-flush</code>. Also include a <code>clearfix</code> after the float to prevent issues later in the page.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <div class="clearfix">&nbsp;</div>
    <img src="../../global/images/samples/Jellyfish.jpg" class="pull-right" data-width="200px">
    <p>This is an example with <code>pull-right</code> and without <code>top-flush</code>.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <div class="clearfix">&nbsp;</div>
    <h2>Image with Frame</h2>
    <img src="../../global/images/samples/Jellyfish.jpg" class="frame" data-width="300px" />
    <h2>Showcase</h2>
    <img src="../../global/images/samples/Jellyfish.jpg" class="showcase" data-width="400px" />
    <h2>Data- Attributes</h2>
    <img src="../../global/images/samples/Jellyfish.jpg" class="frame" data-width="300px" data-caption="20%" data-copyright="FLVS" data-text="pop/imgtxtver_popa.htm" data-mWidth="400px" data-mHeight="500px" />
    <img src="../../global/images/samples/Jellyfish.jpg" class="lightbox" data-width="300px" data-maxWidth="500px" data-maxHeight="500px" data-link="../../global/images/samples/Jellyfish.jpg" data-caption="This is the caption for the image" data-lightBoxText="LightBox Title" data-copyright="©FLVS" />
    <h2>Animated Gifs</h2>
    <img src="images/lastjedi7.gif" alt="Chewbacca and a porg" />
    <p><strong>...as standard image</strong></p>
    <img data-gAnim="images/lastjedi1.gif" src="" data-gAnim-button="dark" data-gAnim-alt="gorilla walkers attacking" data-gAnim-width="600" data-gifAnim-height="247" data-gAnim-duration="4000" />
    <p><strong>...as FW gif with controls</strong></p>
    <h2>Audio / Video</h2>
    <audio class="audioBtn" controls src="media/ThatsGood.mp3"></audio>
    <div id="1_nxe6z1hf" data-width="640" data-height="400" class="kaltura"></div>
    <!-- END CONTENT -->
</div>
</body>
</html>
