<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="utf-8">
    <title>TMP: Page 2</title>
    <script type="text/javascript">
        var pg_csslibs = []; // CSS Libs for this Page
        var pg_jslibs = []; // JS Libs for this Page
    </script>
    <script src="../../global/js/settings.js" id="settingJS" type="text/javascript"></script>
</head>

<body>
<div id="pageContent">
    <!-- CONTENT GOES HERE -->
    <h1>Panels, Wells and Content Blocks</h1>
    <hr />
    <div class="panel panel-default">
        <div class="panel-body">
            Basic panel example
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
            Panel content
        </div>
        <div class="panel-footer">Panel footer</div>
    </div>
    <div class="well">Default well.</div>
    <div class="well infobox">
        <div class="icon" data-icon="icon_alert"></div>
        <div class="content">
            <h3><strong>Remember!</strong></h3>
            <p>HTML is not a true programming language. In other words, you can&rsquo;t compute the sum  of 2 + 2 in HTML, but you can create a web site with it.</p>
        </div>
    </div>
    <div class="well assessment">
        <h2 class="header">Written <span class="lang" data-term="assignment_name:uc">Assignment</span></h2>
        This is the assessment block used to list all activities in the teacher/student assessment.
    </div>
    <div class="well assessment">
        <div class="icon" data-icon="icon_assignment"></div>
        <div class="content">
            <h2>Assignment</h2>
            <p>...</p>
        </div>
    </div>
    <div class="well objective">
        <div class="icon" data-icon="icon_objectives"  data-alt="Objective Icon" ></div>
        <div class="content">
            <h2>Objective</h2>
            <p>This is information for this Objective.</p>
        </div>
    </div>
    <div class="well overview">
        <div class="icon" data-icon="icon_assignment"></div>
        <div class="content">
            <h2>Overview</h2>
            <p>This is information for this Overview.</p>
        </div>
    </div>
    <!-- END CONTENT -->
</div>
</body>
</html>
