<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Les Nationalit&egrave;s&mdash;Text Version</title>
    <script>
        var isexternal = true; // Loads External Assets
    </script>
    <script src="../../../global/js/settings.js" id="settingJS"></script>
</head>
<body>
<div id="externalContent">
    <!-- PLACE CONTENT HERE -->

    <div id="margin">
        <h3>Sample/Template &mdash; Text Version</h3>
        <hr>

        <p>This is a sample text version</p>
    </div>

    <!-- only required if external popup -->
    <!-- <a href="#" onclick="parent.$.colorbox.close(); return false;" class="page-close">Close</a> -->
    <!-- end-->
    <!-- END CONTENT -->
</div>
</body>
</html>