/* Required by FW4.  Do not delete.  Course styles are in course_theme.css*/

html #nav_menu .nav_menu_modules li a.mod_1:before {
    background-image: url("../images/icons/iconmod1.png"); }
html #nav_menu .nav_menu_modules li a.mod_2:before {
    background-image: url("../images/icons/iconmod2.png"); }
html #nav_menu .nav_menu_modules li a.mod_3:before {
    background-image: url("../images/icons/iconmod3.png"); }
html #nav_menu .nav_menu_modules li a.mod_4:before {
    background-image: url("../images/icons/iconmod4.png"); }
html #nav_menu .nav_menu_modules li a.mod_5:before {
    background-image: url("../images/icons/iconmod5.png"); }
html #nav_menu .nav_menu_modules li a.mod_6:before {
    background-image: url("../images/icons/iconmod6.png"); }
html #nav_menu .nav_menu_modules li a.mod_7:before {
    background-image: url("../images/icons/iconmod7.png"); }
html #nav_menu .nav_menu_modules li a.mod_8:before {
    background-image: url("../images/icons/iconmod8.png"); }
html #nav_menu .nav_menu_modules li a.mod_9:before {
    background-image: url("../images/icons/iconmod9.png"); }
html #nav_menu .nav_menu_modules li a.mod_10:before {
    background-image: url("../images/icons/iconmod10.png"); }
html #nav_menu .nav_menu_modules li a.mod_11:before {
    background-image: url("../images/icons/iconmod11.png"); }
html #nav_menu .nav_menu_modules li a.mod_12:before {
    background-image: url("../images/icons/iconmod12.png"); }
html #nav_menu .nav_menu_modules li a.mod_13:before {
    background-image: url("../images/icons/iconmod13.png"); }
html #nav_menu .nav_menu_modules li a.mod_14:before {
    background-image: url("../images/icons/iconmod14.png"); }
html #nav_menu .nav_menu_modules li a.mod_15:before {
    background-image: url("../images/icons/iconmod15.png"); }
html #nav_menu .nav_menu_modules li a.mod_16:before {
    background-image: url("../images/icons/iconmod16.png"); }
html #nav_menu .nav_menu_modules li a.mod_17:before {
    background-image: url("../images/icons/iconmod17.png"); }
html #nav_menu .nav_menu_modules li a.mod_18:before {
    background-image: url("../images/icons/iconmod18.png"); }
html #nav_menu .nav_menu_modules li a.mod_19:before {
    background-image: url("../images/icons/iconmod19.png"); }

.smallerText, .smallerText span, .smallerText span.caption {font-size : 18px; line-height : 1.25;}

.resizedL.interactive-container .d2l-interactive .ooShell .activeInteractive {
    height: 561px;
    max-width: 650px;
    margin: auto;
    border: none;
    padding: 0;
}


.resizedL.interactive-container .d2l-interactive .ooShell {
    border: none !important; }

.resizedL.interactive-container .d2l-interactive .d2l-toggle {
    top: 2px;
    min-width: 290px; }

.resizedL.interactive-container .d2l-interactive .d2l-copyright-button {
    right: 180px; }

.resizedL.interactive-container .d2l-interactive.d2l-sketch_book .ooShell .activeInteractive {

    height : 503px;

}
.interactive-container .d2l-interactive.d2l-sketch_book .ooShell .activeInteractive {

    height : 503px;
    max-width: 650px;
    margin: auto;
    border: none;
    padding: 0;

}

.interactive-container .d2l-interactive.d2l-sketch_book .ooShell {
    border: none !important; }

.interactive-container .d2l-interactive.d2l-sketch_book .d2l-toggle {
    top: 2px;
    min-width: 290px; }

.interactive-container .d2l-interactive.d2l-sketch_book .d2l-copyright-button {
    right: 180px; }

.interactive-container .d2l-interactive.d2l-sketch_book .ooShell .activeInteractive {

    height : 503px;

}

/*div.carousel.slide {
    padding: 0 10px;
}

.flip-book-look {
    border-image-slice: 33 27 36 27 !important;
    border-image-width: 20px 20px 20px 20px !important;
    border-image-outset: 0px 0px 0px 0px !important;
    border-image-repeat: stretch stretch !important;
    border-image-source: url(../images/flipbook_border_main.png) !important;
    background: #fcf8f5 !important;
}

.flip-book-look .carousel-inner {
    padding-top: 25px;
    padding: 15px;
}*/

.carousel.slide.bookcover {
    padding-left: 30%;
}

.carousel.slide.bookcover.carousel .carousel-control {
    z-index: 999;
}

.carousel.slide.bookcover.carousel .carousel-control.right {
    left: 35%;
}

.carousel.slide.bookcover.coverone:before {
    background-image: url("../../global/images/cover_gi.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    width: 250px;
    height: 350px;
    content: "";
    position: absolute;
    margin: -30px;
    left: 15px;
    filter: drop-shadow(10px 10px 4px #A9A9A9);
}

.carousel .carousel-control.carousel-control-audio {
    left: 425px !important;
}

#cboxClose {
    background: url("../../global/images/controlsOLD.png") no-repeat 0 0;
    border: 0;
    padding: 0;
    margin: 0;
    overflow: visible;
    position: absolute;
    bottom: -29px;
    width: 23px;
    height: 23px;
    text-indent: -9999px;
    background-position: -100px -25px
}