.concentration .ui_game .blocks img.fev_center {
    margin: auto;
}

.concentration .ui_game {
    width: 700px;
}

.concentration .ui_game .blocks img.fev_center {
    margin: auto;
}

.concentration .ui_game .blocks:focus {
    border: 2px dashed #113300;
}

.concentration .ui_game .blocks img {
    margin: 0px auto;
}

.concentration .ui_game .blocks {
    display: flex;
    justify-content: center;
    align-items: center;
}




html .forest.ng_il .viewport, html body .forest.ng_il #click2RevealApp .viewport {
    border-color: #2c6546;
    width: 70%;
    height: 100%;
    bottom: 0;
    left: 0px;
    background: url(../images/global/intmedia/bgart_forest.png) bottom left no-repeat;
    background-color: #b5e0d9;
    right: 0;
    background-size: cover;
    z-index: 0;
}

/* @media screen and (max-width: 835px) {
    .concentration {
        width: 750px;
        height: auto;
    }
} */