.ng_il img {
    max-width: 33%;
}

.dragdropv2 .il_dragdrop_items .btn-draggable {
    margin: 5px;
    max-width: 30%;
    padding: 5px;
}

.ng_il img {
    max-width: 150px;
}

.dragdropv2 .bin {
    background-color: white;
    border: 2px solid #CCCCCC;
    border-radius: 15px;
    float: left;
    margin-right: 1%;
    overflow: hidden;
}

html .beach.ng_il .il_header,
html body .beach.ng_il #click2RevealApp .il_header {
    background-color: #3d1e5e;
    color: #ffffff;
}

.dragdropv2 .bin .il_header {
    font-size: 22px;
}

.dragdropv2 .bin .ui-droppable {
    min-height: 100px;
    background-color: white;
    margin-bottom: 0;
    padding: 5px;
}

.dragdropv2 .bin:focus {
    outline: 5px auto -webkit-focus-ring-color !important;
    outline-offset: 5px;
}

.dragdropv2 .bin .ui-droppable img {
    max-width: 120px;
}

.ng_il .il_btn.btn-draggable {
    margin-left: 4px;
    margin-right: 4px;
}

.fev_draganddrop .col-md-6:nth-child(2) {
    display: none;
}

.fev_draganddrop .col-md-6 {
    width: 100%;
}