html body #imageidsline img,
html body #imageidwline img,
html body #imageiddline img {

  height: auto;
}

html body #imageids img,
html body #imageidw img,
html body #imageidd img {

  max-height: 300px;
}

.il_wb {
  text-align: center;
}

.ng_il audio {
  margin: 10px auto 0 !important;
}

.para-text {
  font-size: 26px;
}

/* Fev Code */

.ng_il .viewport {
  max-width: 850px;
}

#flipimg_01,
#flipimg_02,
#flipimg_03,
#flipimg_04,
#flipimg_05,
#flipimg_06,
#flipimg_07,
#flipimg_08,
#flipimg_09,
#flipimg_10,
#flipimg_11,
#flipimg_12 {
  width: 90%;
  margin: 0 auto;
}

#flipimg_01,
#flipimg_02,
#flipimg_03,
#flipimg_04,
#flipimg_05,
#flipimg_06 {
  margin-top: 20px;
}

#flipimg_01,
#flipimg_02,
#flipimg_03,
#flipimg_04,
#flipimg_05,
#flipimg_06 {
  border: 5px solid #dfd2f3;
}















.il_textversion_question .fev_center {
  margin-top: 0px;
}

.flipCardHolder .flip-container ol {
  text-align: left !important;
}

ul li {
  text-align: left;
}

.ng_il .textversion {
  display: none;
}

.flipCardHolder {
  flex-direction: row;
}

.mainSlide {
  min-height: 300px;
}


@media screen and (max-width: 920px) {
  .flipCardHolder .flip-container {
    width: 205px !important;
  }

  .ng_il p.il_question {
    padding: 0px !important;
  }

  .mainSlide {
    padding: 0px;
  }
}

html .yellow.ng_il p.il_question,
html .yellow.ng_il .il_question.il_mc_quiz,
html body .yellow.ng_il #click2RevealApp p.il_question,
html body .yellow.ng_il #click2RevealApp .il_question.il_mc_quiz {
  background: #ffffff;
  padding: 0px;
}