#click2RevealApp #vocab #details .details .caption {
	position: absolute;
	top: 70%;
	width: 90%;
	line-height: 1.4;
}

#click2RevealApp #vocab #details #instructions {
	padding: 20px;
	z-index: 1;
	margin-top: 25px;
}

#click2RevealApp #vocab #details .details {
	margin-top: 20px;
}

.ng-binding .caption {
	display: block;
	margin-top: 5px;
	background: #F8F5FE;
	border: 3px solid #e8ddf9;
	border-radius: 15px;
	padding: 15px;
	font-size: 22px;
	font-style: normal;
	text-align: left;
	line-height: 31px;
	max-width: 695px;
}

.img_ht {
	height: 250px;
	margin-top: 30px;
}

.fev_Answerbtn {
	width: 250px;
	margin-top: 20px;
}

.ng_il .il_textversion .textimg {
	display: none;
}
.ng_il .il_textversion .texttext{
	display: block;
}
.ng_il .il_textversion .col-sm-6{
	width: 100%;   
    padding: 0;
}
#click2RevealApp #vocab {
	min-height: 530px;
}

@media screen and (max-width : 1024px) {
	#click2RevealApp #vocab #details #instructions {
		margin-top: 25px;
	}

	#click2RevealApp #vocab #details h4 {
		font-size: 20px;
	}

	#click2RevealApp #vocab #details .details .caption {
		font-size: 18px;
	}
}

@media screen and (max-width : 1024px) {
	html body #click2RevealApp p {
		font-size: 16px;
	}
}

@media only screen and (max-width: 930px) {
	.fev_Answerbtn {
		width: 200px;

	}
}

@media only screen and (max-width: 770px) {
	#click2RevealApp #vocab #details .details img {
		top: 30%;
	}

	.img_ht {
		height: 190px;
		margin-top: 10px;
	}
}



/* Fev Code */

#vocab {
	margin-top: 35px !important;
}

div.textversionItem {
	border-bottom: 1px solid grey;
	margin-bottom: 10px;
}

.ng_il hr {
	visibility: hidden;
	margin: 20px 0;
}

.popover-title {
	color: #24727e !important;
	font-size: inherit !important;
	font-weight: bold !important;
}

/* updated Style */


#click2RevealApp #vocab #details .details .fev_citation {
	float: right;
	max-width: 250px;
	margin-left: 20px;
}

#click2RevealApp #vocab #details .details .fev_citation img {
	margin: 0;
}

#click2RevealApp #vocab #details .details .fev_citation .caption {
	position: relative;
	width: 100%;
	top: unset;
	line-height: normal;
	padding: 10px;
}

#click2RevealApp #vocab #details .details audio {
	position: absolute;
	left: 15px;
	margin-top: 40px;
}

.imagebox {
	float: right;
	padding-left: 15px
		/*position: absolute;
	top: 40%;*/
}

.ng_il img {
	border: 4px solid #D1E6F2;
	border-radius: 15px !important;
	border: 5px solid #dfd2f3;
}

#imagecaption {
	width: 300px;
	margin: 7px auto;
	padding: 10px;
	background-color: white;
	border: 1px solid gray;
	border-radius: 10px;
}

#hotspot_details_0 #imagecaption,
#hotspot_details_3 #imagecaption {
	display: none;
}

#click2RevealApp #vocab #details .details img {
	width: 300px;
	margin: 0px auto;
	margin-bottom: 15px;
}

.fev_adio_center {
	margin: 0px;
	display: block;
}

.fev_audiopath {
	display: none;
}

#click2RevealApp #vocab #list {
	width: 26%;
	/*height: 75%;*/
}

#click2RevealApp #vocab #details {
	left: 23%;
}

#click2RevealApp #vocab {
	padding-top: 45%;
}

#click2RevealApp #vocab #list>div div:before {
	width: 0px !important;
	height: 0px !important;
	display: none !important;
}

.imght {
	height: 240px;
	margin-top: 20px;
}

.ng_il .il_textversion ul {
	margin: 15.5px auto 31px;
	padding-left: 75px;
	padding-top: 15px;
}

.ng_il .il_textversion .imght {
	display: none;
}

.list-decorative {
	padding-left: 50px;
}

.ng_il #vocab #list>div .term,
html body .orange.ng_il #click2RevealApp #vocab #list>div .term {
	line-height: 28px;
}
html .orange.ng_il #vocab, html body .orange.ng_il #click2RevealApp #vocab{
	background: url(../../../../global/images/global/intmedia/bgart_orange_fliped.png) top left no-repeat !important;
	background-size: 100% auto !important;
}

/* .ng_il .il_textversion{
	border: 3px solid #a6ccdb !important;
} */

/*div#textversion{
	border: 3px solid #a6ccdb;
}*/