html body #imageidsline img,
html body #imageidwline img,
html body #imageiddline img {

  height: auto;
}

html body #imageids img,
html body #imageidw img,
html body #imageidd img {

  max-height: 300px;
}

.il_wb {
  text-align: center;
}

.ng_il audio {
  margin: 10px auto 0 !important;
}

.para-text {
  font-size: 26px;
}

/* Fev Code */

.ng_il .viewport {
  max-width: 850px;
}

#flipimg_07,
#flipimg_08,
#flipimg_09,
#flipimg_10,
#flipimg_11,
#flipimg_12{
  width: 80%;
  margin: 0 auto;
}


#flipimg_08
{
  margin-top: 85px;
}
#flipimg_10,
#flipimg_12{
  margin-top: 85px;
}


#flipimg_01,
#flipimg_03
 {
  width: 80%;
  margin: 0 auto;
  margin-top: 75px;
}

#flipimg_02
 {
  width: 80%;
  margin: 0 auto;
  margin-top: 44px;
}

#flipimg_04{
  width: 80%;
  margin: 0 auto;
  margin-top: 73px; 
}
#flipimg_05
 {
  width: 80%;
  margin: 0 auto;
  margin-top: 72px;
}
#flipimg_06 {
  width: 80%;
  margin: 0 auto;
  margin-top: 16px;
}
#flipimg_07,
#flipimg_09,
#flipimg_11{
  margin-top: 75px;
}

#flipimg_09{
  border: 5px solid #dfd2f3;
}

b,strong {
  font-size: 20px;
 
}





.il_textversion_question .fev_center {
  margin-top: 0px;
}

.flipCardHolder .flip-container ol {
  text-align: left !important;
}

ul li {
  text-align: left;
}

.ng_il .textversion {
  display: none;
}

.flipCardHolder {
  flex-direction: row;
}


.mainSlide {
  width: 100%;
  padding: 15px;
  float: left;
  position: relative;
  min-height: 350px;
}



@media screen and (max-width: 920px) {
  .flipCardHolder .flip-container {
    width: 205px !important;
  }

  .ng_il p.il_question {
    padding: 0px !important;
  }

  .mainSlide {
    padding: 0px;
  }
}

html .yellow.ng_il p.il_question, html .yellow.ng_il .il_question.il_mc_quiz, html body .yellow.ng_il #click2RevealApp p.il_question, html body .yellow.ng_il #click2RevealApp .il_question.il_mc_quiz {
  background: #ffffff;
  padding: 0px;
  font-size: 20px;
}